version: '3'

services:
  db:
    image: mysql:8.0.15
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    command: mysqld --default-authentication-plugin=mysql_native_password

  app:
    build:
      context: .
      dockerfile: containers/rails/Dockerfile.dev
    environment:
      - BUNDLE_PATH=/bundle
      - DEFAULT_HOST=.example.com
    tty: true
    stdin_open: true
    command: bundle exec rails s -b 0.0.0.0
    volumes:
      - .:/app
      - bundle:/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db

  polling_publisher:
    build:
      context: .
      dockerfile: containers/rails/Dockerfile.dev
    environment:
      - BUNDLE_PATH=/bundle
      - DEFAULT_HOST=.example.com
    tty: true
    stdin_open: true
    command: bundle exec rails runner PollingPublisher.new.polling
    volumes:
      - .:/app
      - bundle:/bundle
    ports:
      - "3100:3100"
    depends_on:
      - db

volumes:
  db-data:
  bundle:
